/*
	Stylesheet | bigdrumr.github.io
	by Terry Griffin (a.k.a bigdrumr)
	February 2015
*/
body {
	background-color: #48484D;
	color: #FFF;
}
img {
	width: 100%;
	padding: 5px;
	border-radius: 50%;	
}
a {
	text-decoration: none !important;
}
i.fa {
	margin-left: 5px;
	color: #FFF !important;
	font-size: 24px;
	transition: all 0.2s ease;
}
i.fa:hover {
	opacity: 0.8;
}
.avatar {
	width: 20%;
	margin-top: 20px;
	margin-bottom: 40px;	
}
div.btn {
	background-color: inherit;
	border: 1px solid #6EF046;
}

.name-tag {
	padding: 30px 0;
}
.grid-title {
	margin: 20px 0;
}
.main-item {
	height: 112px;
	padding: 40px 0;
	margin: 10px 0;
	border: 1px solid #6EF046;
	background-color: inherit;
	transition: all 0.15s ease;
}
a .main-item {
	color: #FFF;
	transition: all 0.15s ease;
}
.main-item:hover,
div.btn:hover,
div.btn:active,
button.btn-primarydiv.btn {
	background-color: #994D25;	
	outline: 0;
}
a .main-item:hover {
	color: #48484D;
}
.main-item:active {
	background-color: #2C2C33;
}
a .main-item:active {
	color: #48484D;
}

/*COLUMN OFFSET for CONTENT: Recent UI/UX Projects*/
div.col-sm-3:nth-child(2) {
	margin-left: calc(8.33333333% + 50px);
}


/*===============
	RESPONSIVE OFFSETS*/

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	.avatar {
		width: 50%;
		margin-top: 20px;
		float: right;
	}
	i.fa {
		margin: 5px;
		font-size: 30px;
	}
	.grid-title.one {
		margin-top: 40px;
	}
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	.avatar {
		width: 100%;
		margin-top: 20px;
	}
	i.fa {
		font-size: 30px;
	}
	.grid-title.one {
		margin-top: 40px;
	}
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.avatar {
		width: 20%;
		margin-top: 20px;
		margin-bottom: 40px;
		float: none;	
	}
	.grid-title.one {
		margin-top: 80px;
	}
	.offset {
		margin-left: calc(8.33333333% + 50px);
	}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.avatar {
		width: 20%;
		margin-top: 20px;
		margin-bottom: 40px;
		float: none;	
	}
	.grid-title.one {
		margin-top: 80px;
	}
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	.avatar {
		width: 20%;
		margin-top: 20px;
		margin-bottom: 40px;
		float: none;	
	}
	.offset {
		margin-left: calc(8.33333333% + 50px);
	}
}