/*
	Stylesheet | bigdrumr.github.io
	by Terry Griffin (a.k.a bigdrumr)
	February 2015
*/
body {
	background-color: #48484D;
	color: #FFF;
}
img {
	width: 100%;
	padding: 5px;
	border-radius: 50%;	
}
i.fa {
	margin-left: 5px;
	color: #FFF !important;
	font-size: 24px;
}
i.fa:hover {
	opacity: 0.8;
}
.avatar {
	width: 20%;
	margin-top: 20px;
	margin-bottom: 40px;	
}
div.btn {
	background-color: inherit;
	border: 1px solid #6EF046;
}

.name-tag {
	padding: 30px 0;
}
.grid-title {
	margin: 20px 0;
}
.main-item {
	padding: 40px 0;
	margin: 10px 0;
	border: 1px solid #6EF046;
	background-color: inherit;
	transition: all 0.5;
}
.main-item a {
	text-decoration: none;
	color: #FFF;
	transition: all 0.5;
}
.main-item:hover,
div.btn:hover,
div.btn:active,
button.btn-primarydiv.btn {
	background-color: #994D25;	
	outline: 0;
}
.main-item:hover a {
	color: #4D220C;
}
.main-item:active {
	background-color: #2C2C33;
}
.main-item:active a {
	color: #48484D;
}

/*COLUMN OFFSET for CONTENT: Recent UI/UX Projects*/
div.col-sm-3:nth-child(2) {
	margin-left: calc(8.33333333% + 50px);
}

